.header{
    text-align: left;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
.subheader{
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.para-text{
    text-align: justify;
}
.section{
    padding-top: 3rem;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    color: #9c9999a2;
    z-index: -1;
}

@media (max-width: 767px) {
   .header{
        text-align: center;
   }
   .subheader{
        text-align: center;
        font-size: 1.2rem;
   }
}