.header{
    text-align: left;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
.subheader{
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.para-text{
    text-align: justify;
}
.section{
    padding-top: 3rem;
}
.side-nav{
    position: fixed;
    height: 100%;
    width: 15%;
    box-shadow:  3px 0 2px rgba(0,0,0,.1);
    z-index: 99;
    background-color: #ffffff;
}
.top-nav{
    position: fixed;
    top: 0;
    width:100%;
    padding: 0.5rem;
    z-index: 100;
    background-color: #ffffff;
}
@media (max-width: 767px) {
   .header{
        text-align: center;
   }
   .subheader{
        text-align: center;
        font-size: 1.2rem;
   }
   .side-nav{
        width: 100%;
        box-shadow: 0px 0 0px #ffffff;
    }

}